---
- name: Create Subnet
  hosts: localhost
  connection: local
  gather_facts: false

  collections:
    - azure.azcollection

  vars:
    # AWX survey variables
    rg_name: "{{ rg_name }}"
    vnet_name: "{{ vnet_name }}"
    subnet_name: "{{ subnet_name }}"
    subnet_prefix: "{{ subnet_prefix | default('10.10.1.0/24') }}"

  tasks:
    - name: Ensure subnet exists
      azure_rm_subnet:
        resource_group: "{{ rg_name }}"
        virtual_network_name: "{{ vnet_name }}"
        name: "{{ subnet_name }}"
        address_prefix: "{{ subnet_prefix }}"
        state: present