---
# Expects variables from parent:
# - src_jt (one template item)
# - api_base, controller_token, controller_validate_certs
# - dst_cred_map
# - target_org_name, target_project_name
# - source_localhost_inventory_name, target_localhost_inventory_name
# - allow_only_localhost_inventory_mapping, create_templates_without_missing_creds
# - copied_templates, templates_missing_creds, templates_inventory_not_mapped

- name: Fetch template detail
  ansible.builtin.uri:
    url: "{{ api_base }}/job_templates/{{ src_jt.id }}/"
    method: GET
    headers:
      Authorization: "Bearer {{ controller_token }}"
      Accept: "application/json"
    validate_certs: "{{ controller_validate_certs }}"
    return_content: true
  register: jt_detail

- name: Fetch template survey spec (ignore if not present)
  ansible.builtin.uri:
    url: "{{ api_base }}/job_templates/{{ src_jt.id }}/survey_spec/"
    method: GET
    headers:
      Authorization: "Bearer {{ controller_token }}"
      Accept: "application/json"
    validate_certs: "{{ controller_validate_certs }}"
    return_content: true
    status_code: [200, 404]
  register: jt_survey
  changed_when: false

- name: Compute credential + inventory mapping
  ansible.builtin.set_fact:
    src_cred_names: "{{ (jt_detail.json.summary_fields.credentials | default([])) | map(attribute='name') | list }}"
    missing_cred_names: "{{ src_cred_names | reject('in', (dst_cred_map.keys() | list)) | list }}"
    matched_cred_ids: "{{ src_cred_names | reject('in', missing_cred_names) | map('extract', dst_cred_map) | list }}"
    src_inv_name: "{{ jt_detail.json.summary_fields.inventory.name | default('') }}"
    mapped_inventory_name: >-
      {{
        (src_inv_name == source_localhost_inventory_name)
        | ternary(target_localhost_inventory_name, omit)
      }}

- name: Log missing creds (if any)
  ansible.builtin.set_fact:
    templates_missing_creds: "{{ templates_missing_creds | combine({ jt_detail.json.name: missing_cred_names }) }}"
  when: (missing_cred_names | length) > 0

- name: Log inventory not mapped (non-localhost inventory)
  ansible.builtin.set_fact:
    templates_inventory_not_mapped: "{{ templates_inventory_not_mapped + [jt_detail.json.name] }}"
  when:
    - allow_only_localhost_inventory_mapping | bool
    - (src_inv_name | length) > 0
    - (src_inv_name != source_localhost_inventory_name)

- name: Create/Update job template in target org
  awx.awx.job_template:
    name: "{{ jt_detail.json.name }}"
    description: "{{ jt_detail.json.description | default('') }}"
    organization: "{{ target_org_name }}"
    state: present

    project: "{{ target_project_name }}"
    playbook: "{{ jt_detail.json.playbook }}"

    inventory: >-
      {{
        (allow_only_localhost_inventory_mapping | bool)
        | ternary(mapped_inventory_name, omit)
      }}

    execution_environment: "{{ jt_detail.json.summary_fields.execution_environment.name | default(omit) }}"

    job_type: "{{ jt_detail.json.job_type | default('run') }}"
    become_enabled: "{{ jt_detail.json.become_enabled | default(false) }}"
    diff_mode: "{{ jt_detail.json.diff_mode | default(false) }}"
    allow_simultaneous: "{{ jt_detail.json.allow_simultaneous | default(false) }}"

    ask_credential_on_launch: "{{ jt_detail.json.ask_credential_on_launch | default(false) }}"
    ask_inventory_on_launch: "{{ jt_detail.json.ask_inventory_on_launch | default(false) }}"
    ask_variables_on_launch: "{{ jt_detail.json.ask_variables_on_launch | default(false) }}"
    ask_limit_on_launch: "{{ jt_detail.json.ask_limit_on_launch | default(false) }}"
    ask_tags_on_launch: "{{ jt_detail.json.ask_tags_on_launch | default(false) }}"
    ask_skip_tags_on_launch: "{{ jt_detail.json.ask_skip_tags_on_launch | default(false) }}"
    ask_job_type_on_launch: "{{ jt_detail.json.ask_job_type_on_launch | default(false) }}"
    ask_verbosity_on_launch: "{{ jt_detail.json.ask_verbosity_on_launch | default(false) }}"
    ask_diff_mode_on_launch: "{{ jt_detail.json.ask_diff_mode_on_launch | default(false) }}"

    extra_vars: "{{ jt_detail.json.extra_vars | default(omit) }}"
    job_tags: "{{ jt_detail.json.job_tags | default('') }}"
    skip_tags: "{{ jt_detail.json.skip_tags | default('') }}"
    limit: "{{ jt_detail.json.limit | default('') }}"
    verbosity: "{{ jt_detail.json.verbosity | default(0) }}"

    survey_enabled: "{{ jt_detail.json.survey_enabled | default(false) }}"
    survey_spec: >-
      {{
        (jt_detail.json.survey_enabled | default(false) | bool)
        | ternary(
            (jt_survey.json if (jt_survey.status | int) == 200 else omit),
            omit
          )
      }}

    credentials: >-
      {{
        ((missing_cred_names | length) == 0)
        | ternary(matched_cred_ids, omit)
      }}

    controller_host: "{{ controller_host }}"
    controller_oauthtoken: "{{ controller_token }}"
    validate_certs: "{{ controller_validate_certs }}"
  when:
    - (create_templates_without_missing_creds | bool) or ((missing_cred_names | length) == 0)

- name: Mark template copied
  ansible.builtin.set_fact:
    copied_templates: "{{ copied_templates + [jt_detail.json.name] }}"