---
- name: Copy Start-Cleanup.ps1 from repo and run it
  hosts: "{{ group_1 }}"
  gather_facts: no

  # WinRM creds come from AWX Machine credential / inventory

  tasks:
    - name: Ensure C:\Ansible directory exists
      ansible.windows.win_file:
        path: C:\Ansible
        state: directory

    - name: Copy Start-Cleanup.ps1 from Scripts folder
      ansible.windows.win_copy:
        src: "../Scripts/Windows/Start-Cleanup.ps1"
        dest: "C:\\Ansible\\Start-Cleanup.ps1"
        remote_src: false
      tags:
        - cleanup
        - copy_script

    - name: Run Start-Cleanup.ps1
      ansible.windows.win_shell: |
        powershell.exe -ExecutionPolicy Bypass -File "C:\Ansible\Start-Cleanup.ps1"
      register: cleanup_script
      tags:
        - cleanup
        - run_script

    - name: Show script output
      ansible.builtin.debug:
        var: cleanup_script.stdout
      when: cleanup_script is defined
